<form {{action 'save' on='submit'}}>
  <h2>{{errorMessage}}</h2>
  <div class="form-group">
    <label for="trained_at">Training date</label>
    {{bootstrap-datepicker value=model.trainedAt class='form-control' format="dd.mm.yy" todayBtn=true weekStart=1 linked=true autoclose=true orientation="right"}}
  </div>
  <div class="form-group">
    <label for="day">Training day</label>
    {{input value=model.day class='form-control'}}
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    {{textarea value=model.description class='form-control'}}
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <button {{action 'cancel'}} class="btn btn-default">Cancel</button>
</form>
